--create database [JewelryStore]

USE [JewelryStore]
GO
/****** Object:  Table [dbo].[Basket]    Script Date: 6/11/2021 1:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Basket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDClient] [int] NOT NULL,
	[IDJewelry] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[TotalPrice] [float] NOT NULL,
 CONSTRAINT [PK_Basket_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/11/2021 1:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Category_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Check]    Script Date: 6/11/2021 1:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Check](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDClient] [int] NOT NULL,
	[IDJewelry] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Commission] [float] NULL,
	[TotalPrice] [float] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_Check] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 6/11/2021 1:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NULL,
	[Phone] [char](30) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jewelry]    Script Date: 6/11/2021 1:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jewelry](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JewImg] [image] NULL,
	[JewName] [nvarchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Material] [nvarchar](100) NOT NULL,
	[Pice] [bigint] NOT NULL,
	[ParametersID] [int] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_Jewerly_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parameters]    Script Date: 6/11/2021 1:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Height] [nvarchar](100) NOT NULL,
	[Width] [nvarchar](100) NOT NULL,
	[Weight] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Parameters_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regisration]    Script Date: 6/11/2021 1:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regisration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[NumberContract] [char](30) NOT NULL,
	[Date] [date] NOT NULL,
	[IDUser] [int] NOT NULL,
 CONSTRAINT [PK_Regisration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/11/2021 1:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [nchar](1) NOT NULL,
	[Title] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Role_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SignIn]    Script Date: 6/11/2021 1:15:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignIn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LogIn] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RoleID] [nchar](1) NOT NULL,
 CONSTRAINT [PK_SignIn_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Title]) VALUES (1, N'Золотой')
INSERT [dbo].[Category] ([ID], [Title]) VALUES (2, N'Рубиновый')
INSERT [dbo].[Category] ([ID], [Title]) VALUES (3, N'Алмазное')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Check] ON 

INSERT [dbo].[Check] ([ID], [IDClient], [IDJewelry], [Date], [Commission], [TotalPrice], [Count]) VALUES (1, 1, 2, CAST(N'2021-05-30' AS Date), NULL, 360000, 3)
INSERT [dbo].[Check] ([ID], [IDClient], [IDJewelry], [Date], [Commission], [TotalPrice], [Count]) VALUES (2, 1, 3, CAST(N'2021-05-30' AS Date), NULL, 900000, 3)
INSERT [dbo].[Check] ([ID], [IDClient], [IDJewelry], [Date], [Commission], [TotalPrice], [Count]) VALUES (3, 2, 4, CAST(N'2021-05-30' AS Date), NULL, 500000, 1)
SET IDENTITY_INSERT [dbo].[Check] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ID], [FirstName], [LastName], [SecondName], [Phone]) VALUES (1, N'Зарина', N'Ахмедова', N'', N'+79286549090                  ')
INSERT [dbo].[Client] ([ID], [FirstName], [LastName], [SecondName], [Phone]) VALUES (2, N'Маргарита', N'Миронова', N'', N'79298770098                   ')
INSERT [dbo].[Client] ([ID], [FirstName], [LastName], [SecondName], [Phone]) VALUES (3, N'Али', N'Магомедов', N'', N'+7928746582675                ')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Jewelry] ON 

SET IDENTITY_INSERT [dbo].[Jewelry] OFF
GO
SET IDENTITY_INSERT [dbo].[Parameters] ON 

INSERT [dbo].[Parameters] ([ID], [Height], [Width], [Weight]) VALUES (1, N'5', N'5', N'5')
INSERT [dbo].[Parameters] ([ID], [Height], [Width], [Weight]) VALUES (2, N'5', N'5', N'5')
INSERT [dbo].[Parameters] ([ID], [Height], [Width], [Weight]) VALUES (3, N'150', N'70', N'70')
SET IDENTITY_INSERT [dbo].[Parameters] OFF
GO
SET IDENTITY_INSERT [dbo].[Regisration] ON 

INSERT [dbo].[Regisration] ([ID], [Email], [FirstName], [LastName], [Patronymic], [NumberContract], [Date], [IDUser]) VALUES (1, N'abdulkhak1m@mail.ru', N'Abdulkhakim', N'Magomedov', NULL, N'434243                        ', CAST(N'2021-06-06' AS Date), 1)
INSERT [dbo].[Regisration] ([ID], [Email], [FirstName], [LastName], [Patronymic], [NumberContract], [Date], [IDUser]) VALUES (2, N'thevckit@gmail.com', N'fjlads', N'jads;', N'', N'fjldsajf321                   ', CAST(N'2021-06-06' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Regisration] OFF
GO
INSERT [dbo].[Role] ([ID], [Title]) VALUES (N'A', N'Admin')
GO
SET IDENTITY_INSERT [dbo].[SignIn] ON 

INSERT [dbo].[SignIn] ([ID], [LogIn], [Password], [RoleID]) VALUES (1, N'a', N'a', N'A')
INSERT [dbo].[SignIn] ([ID], [LogIn], [Password], [RoleID]) VALUES (2, N'thevckit@gmail.com', N'VjG8Q1LO', N'A')
SET IDENTITY_INSERT [dbo].[SignIn] OFF
GO
ALTER TABLE [dbo].[Basket]  WITH CHECK ADD  CONSTRAINT [FK_Basket_Client] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Client] ([ID])
GO
ALTER TABLE [dbo].[Basket] CHECK CONSTRAINT [FK_Basket_Client]
GO
ALTER TABLE [dbo].[Basket]  WITH CHECK ADD  CONSTRAINT [FK_Basket_Jewelry] FOREIGN KEY([IDJewelry])
REFERENCES [dbo].[Jewelry] ([ID])
GO
ALTER TABLE [dbo].[Basket] CHECK CONSTRAINT [FK_Basket_Jewelry]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_Client] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Client] ([ID])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_Client]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_Jewelry] FOREIGN KEY([IDJewelry])
REFERENCES [dbo].[Jewelry] ([ID])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_Jewelry]
GO
ALTER TABLE [dbo].[Jewelry]  WITH CHECK ADD  CONSTRAINT [FK_Jewerly_CategoryID_Category_ID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Jewelry] CHECK CONSTRAINT [FK_Jewerly_CategoryID_Category_ID]
GO
ALTER TABLE [dbo].[Jewelry]  WITH CHECK ADD  CONSTRAINT [FK_Jewerly_ParametersID_Parameters_ID] FOREIGN KEY([ParametersID])
REFERENCES [dbo].[Parameters] ([ID])
GO
ALTER TABLE [dbo].[Jewelry] CHECK CONSTRAINT [FK_Jewerly_ParametersID_Parameters_ID]
GO
ALTER TABLE [dbo].[Regisration]  WITH CHECK ADD  CONSTRAINT [FK_Regisration_SignIn] FOREIGN KEY([IDUser])
REFERENCES [dbo].[SignIn] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Regisration] CHECK CONSTRAINT [FK_Regisration_SignIn]
GO
ALTER TABLE [dbo].[SignIn]  WITH CHECK ADD  CONSTRAINT [FK_SignIn_RoleID_Role_ID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[SignIn] CHECK CONSTRAINT [FK_SignIn_RoleID_Role_ID]
GO
